/* override css styles of the main theme here */

a {
    color: rgb(75, 168, 143);
  }

  a:hover {
    color: rgb(195, 51, 117);
  }


  section.main .content .markdown h4, section.main .content .markdown h5, section.main .content .markdown h6 {
    /* font-size: 1rem; */
    margin-bottom: -0.0rem;
    /* letter-spacing: none; */
}

section.main .content .markdown h2 {
  font-size: 1.4rem;
  margin-bottom: 1.25rem;
}